include ./bolo-options.jade
include ../includes/mixins.jade
div.col-xs-12.col-sm-6.col-md-3

    div.thumbnail
        script.
            function updateStatus() {
                console.log(bolo.id);
                //var data = !{JSON.stringify(bolo)}
               // console.log(data);
                $.ajax({
                    url: '/bolo/update/',// + data.data.id,
                    type: 'POST',
                    data: {status: $(".status #bolo.id").val()}
                })
            }
        div.status
            .form-group
                label.control-label( for=bolo.id )
                select.form-control(id=bolo.id name="Status" onchange="updateStatus()")
                    each val in bolo_status
                        if bolo.status == val
                            +option( val,true )
                        else
                            +option( val,false )
        div.boloImageContainer
        
            div.boloImageCenterer
                if bolo.images.featured
                    img( src="/bolo/asset/" + bolo.id + "/featured" alt=bolo.images.featured  )
                else
                    img( src="/img/nopic.png" alt="no image"  )
        div.caption
            h3 #{bolo.category}

            p <b>Updated:</b> #{bolo.lastUpdatedOn}
            p <b>Created On:</b> #{bolo.createdOn}
            p <b>Posted By:</b> #{bolo.agencyName}
