div.col-xs-12.col-sm-6.col-md-3
    div.thumbnail
        div.status
            if(bolo.status)
                h2 #{bolo.status}
        div.boloImageContainer

            div.boloImageCenterer
                if bolo.images.featured
                    img( src="/bolo/asset/" + bolo.id + "/featured" alt=bolo.images.featured  )
                else
                    img( src="/img/nopic.png" alt="no image"  )
        div.caption
            h3 #{bolo.category}

            p <b>Updated:</b> #{bolo.lastUpdatedOn}
            p <b>Created On:</b> #{bolo.createdOn}
            p <b>Posted By:</b> #{bolo.agency}
